<div class="mb-6" role="banner" aria-label="{{ 'sylius.ui.home'|trans }}">
    <h1 class="visually-hidden">{{ sylius.channel.name }}</h1>
    <div class="overflow-hidden" style="max-height: 70vh;">
        <div class="d-flex justify-content-center align-items-center position-relative">
            <img src="{{ asset('build/app/shop/images/homepage-banner.png', 'app.shop') }}" width="1920" height="100%" class="img-fluid" alt="{{ 'sylius.ui.home'|trans }}">
            <img src="{{ asset('build/app/shop/images/fasani_box.svg', 'app.shop') }}" class="position-absolute" style="max-width: 80vw;left:0" alt="{{ 'sylius.homepage.new_collection'|trans }}">
{#            <video class="hero-media" src="https://sensoria-assets.s3.eu-central-1.amazonaws.com/video/media-convert/completo_raw.m3u8" autoplay="" muted="" playsinline="" aria-hidden="true"></video>#}
        </div>
    </div>
</div>
